*{
  margin:0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  padding-top: 20px;
  padding-bottom: 50px;
}

.wrapper{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

header{
  font-size:60px;
  padding: 50px;
}

input[type=text] {
  width: 100%;
  padding: 30px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select{
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 100px;
}

button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  background-color: #45a049;
}

.memePictures{
  width:500px;
  height:400px;
}

.pictureContainer{
  position: relative;
}

.topText{
  position: absolute;
}

.bottomText{
  position: absolute;
  text-align: center;
  bottom: 0;
}